/*CSS for individual project pages */

/*Added a background colour that is slightly off white on every page, as this is easier on the user's eyes
and is a trick used to make the user feel more at ease compared to if the screen was actually white*/

body{
	background-color: #fdfdff;
}



/*CSS for the header that runs along the top of the screen */

.conHeader{
padding:0px 15px;
margin-bottom:0px;
color:#fafaff;
text-align:left;
background-color:#222222;
background-size: 100% 100%;
background-repeat:no-repeat;}

 .conHeader h1{
 margin-top:20px; 
 color:#eef6ff}
 
 .conHeader>hr{
 border-top-color:#d5d5d5}
 
 .container .conHeader,.container-fluid .conHeader{
 border-radius:6px}
 
 .conHeader .container{
 max-width:100%}
 
 @media screen and (min-width:768px){.conHeader{padding:10px 0}
 .container .conHeader,.container-fluid .conHeader{padding-right:60px;padding-left:60px}
}






/* CSS for the look of the chat window */			

.col-md-2, .col-md-10{
    padding:0;
	background:#e5e5e5;
}
.panel{
    margin-bottom: 0px;
}
.chat-window{
    bottom:0;
    position:fixed;
    float:left;
    margin-right:40px;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:340px;
  overflow-x:hidden;
}
.panel-heading{
  background: #d9edf7;
}

.top-bar {
  background: #d9edf7;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
img {
    display: block;
    width: 100%;
}
.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2);
}

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


